body {

    height: 100vh;
    background: linear-gradient(rgba(4,7,30,0.7),rgba(4,7,30,0.7)), url(/full.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
}

.main-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: center;
}


.header{
    min-height: 10vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 2;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 250px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

form{
    margin-top: 50px;
    text-align: center;
}
input {
    display: block;
    width: 350px;
    height: 40px;
    margin: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
}
button{
    width: 350px;
    height: 40px;
    font-size: 20px;
    background: rgb(13, 121, 148);
    border: none;
    color: white;
    margin-top: 20px;
}

::placeholder{
    color: white;
}
